.general-banner
  position: relative
  height: 110px
  background: url('../../media/general_banner.png') top center no-repeat
  background-size: cover

  &__wrap
    display: flex
    flex-direction: row

  .badge
    position: absolute
    top: 0
    right: 0
    z-index: 1