.purchase
  margin-top: 10px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

  &__bottom
    margin-top: 28px
    padding-top: 30px
    border-top: 1px solid #f0f4f7

  &__text
    display: inline-block
    margin-top: 15px
    color: #1b8ee9
    font-weight: 300

  &__btn
    position: relative
    .icon
      position: absolute
      top: 50%
      transform: translateY(-50%)
      right: 12px